/* This rule sets the color of all h1 elements to red. */

html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-info {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#military-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
}
